<tr id="<%= user.id %>">
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= user.admin %></td>
  <td>
    <% if logged_in? and current_user.admin? %>
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_user' %> 
    <% end %>
  </td>  
</tr>