<tr id="<%= order.id %>">
    <td><%= order.id %></td>
  <td><%= order.user_id %></td>
  <td><%= order.check_out_at %></td>
    <td>
    <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_order' %> 
  </td>
</tr>