<div class="sales-table pricing-three-column row">
      
        <div class="plan col-sm-4 col-lg-4">
          <div class="hoy">
            <h3>Hoy</h3>
          </div>
           <h4> <%=number_to_currency(@today_sales )%></h4>
        </div>
        
        <div style="z-index:55;" class="plan col-sm-4 col-lg-4">
          <div class="semana">
            <h3> Semana Actual </h3>
          </div>
           <h4> <%=number_to_currency(@week_sales )%></h4>
        </div>
        
        <div class="plan col-sm-4 col-lg-4">
          <div class="mensual">
            <h3>Mes Actual</h3>
          </div>
           <h4> <%=number_to_currency(@month_sales )%></h4>
        </div>
        
</div>


            <table class="table">
                <thead>
                    <tr>
                        <th>DETALLE</th>
                        <th>INGRESOS</th>
                        <th> TOTAL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <% @orders.each do |order| %>
                    <tr id="<%= order.id %>">
                      <td><%=order.total_price %></td>
                      <td><%= link_to order.id, order_path(order), remote: true %> </td>
                      <td><%= number_to_currency(order.total_price, precision: 2) %></td>
                    </tr>
                <% end %>
                </tbody>
                
            </table><!--  close table -->
            
                        <table class="table table-bordered">

                <thead>
                    <tr>                  
                        <th>Ingresos</th>
                        <th>Gastos</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td> <%=number_to_currency(@week_sales )%> </td>
                    <td> <%=number_to_currency(@week_expenses )%> </td>
                    <td>3</td>
                    </tr>                           
                </tbody>
            </table>