
<div class="container text-center">
   <h3>Listing  Companies</h3>
   <br>
   
   <div class="row">
      <% 	@companies.each do |company| %>
          <div class="col-sm-4">
             <%= link_to (image_tag "http://placehold.it/150x80?text=IMAGE", :alt =>  "image", :class =>"img-responsive md-image"), company_path(company) %>
             <p> <%= company.name %></p>
             <td><%= link_to 'Delete', company_path(company), method: :delete, data: {confirm: "Are you sure?"} %></td>
          </div>
          
      <% end %> 
      
      <div class="col-sm-4">
         <div class="well">
            <p> Ventas de Hoy: <%=number_to_currency(@today_sales )%></p>
              <p><%= link_to "Ver Montos anteriores ", view_sales_path, remote: true %> </p>
         </div>
         <div class="well">
            <p>Gastos.</p>
         </div>
      </div>
      
   </div>
   
</div>
<br>
<p>
   <%= link_to "Create new company", new_company_path %>
</p>




