<h1> show companies</h1>

<div class="container text-center">
  <h1><%= @company.name %></h1><br>
  <div class="row">
    <div class="col-sm-4">
      <%= link_to (image_tag "http://placehold.it/150x80?text=IMAGE", :alt =>  "reg-new-product", :class =>"img-responsive md-image"), new_company_product_path(@company), remote: true %>
      <p>Registrar productos</p>
    </div>
    <div class="col-sm-4">
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Ventas</p>
    </div>
    <div class="col-sm-4">
      <%= link_to (image_tag "http://placehold.it/150x80?text=IMAGE", :alt =>  "company-new", :class =>"img-responsive md-image"), new_company_product_path(@company), remote: true %>
      <p> Biles</p>
    </div>
  </div>
</div><br>


<div>
  <p><%= link_to " Listing productss",company_products_path(@company)  %></p>
<%= link_to 'Edit company', edit_company_path(@company) %> |
<%= link_to 'Back ', companies_path %> 
</div>
