

<div class="container text-center">
  <h1><%= @company.name %></h1><br>
  <div class="row">
    <div class="col-sm-4">
      <%= link_to (image_tag "http://placehold.it/150x80?text=IMAGE", :alt =>  "reg-new-product", :class =>"img-responsive md-image"), new_company_product_path(@company), remote: true %>
      <p><%= link_to " Lista de  productos",company_products_path(@company)  %></p>
      <p>Registrar productos</p>
      
    </div>
    <div class="col-sm-4">
      <%= link_to (image_tag "http://placehold.it/150x80?text=IMAGE", :alt =>  "reg-order", :class =>"img-responsive md-image"), new_company_order_path(@company), remote: true %>
      <p>Registrar Ventas </p>
    </div>
    <div class="col-sm-4">
      <%= link_to (image_tag "http://placehold.it/150x80?text=IMAGE", :alt =>  "reg-payments", :class =>"img-responsive md-image"), new_company_payment_path(@company), remote: true %>
           <p><%= link_to " Lista de pagos",company_payments_path(@company)  %></p>
      <p> Pagos </p>
    </div>
  </div>
</div><br>


<div>
  
<%= link_to 'Edit company', edit_company_path(@company) %> |
<%= link_to 'Back ', companies_path %> 
</div>
