<tr id="<%= product.id %>">
  <td><%= product.code %></td>
  <td><%= product.company_id %></td>
  <td><%= product.name %></td>
  <td><%= number_to_currency(product.price, precision: 2) %></td>
  <td>
    <%= link_to "Editar", edit_company_product_path(product.company_id, product), remote: true %>
  </td>
  <td>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_product' %> 
  </td>
</tr>